<%# locals: (title: nil, css_classes: "", **html_options) %>
<% merged_data = (html_options.delete(:data) || {}).merge(
    sidebar_part: :group
  ) %>

<%= content_tag :div, class: css_classes, data: merged_data, **html_options do %>
  <% if title.present? %>
    <div data-sidebar-part="group-label"><%= title %></div>
  <% end %>

  <%= yield %>
<% end %>
