<%# locals: (variant: :default, icon: nil, css_classes: "", **html_options) %>
<% merged_data = (html_options.delete(:data) || {}).merge(
    component: :alert,
    variant: variant,
    has_icon: icon.present? || nil
  ).compact %>

<%= content_tag :div, role: :alert, class: css_classes.presence, data: merged_data, **html_options do %>
  <%= icon_for(icon) if icon.present? %>

  <div><%= yield %></div>
<% end %>
