<%# locals: (css_classes: "", responsive: false, collapse_after: 0, **html_options) %>
<% merged_data = (html_options.delete(:data) || {}).merge(
    component: :breadcrumbs
  )

  if responsive
    merged_data[:controller] = "breadcrumb"
    if collapse_after > 0
      merged_data[:breadcrumb_collapse_after_value] = collapse_after
    end
  end %>

<nav
  aria-label="Breadcrumb"
  class="<%= css_classes %>"
  <%= tag.attributes(data: merged_data, **html_options) %>
>
  <%= yield %>
</nav>
