<%# locals: (orientation: :horizontal) -%>

<div
  data-orientation="<%= orientation %>"
  role="none"
  class="
    bg-border shrink-0 data-[orientation=horizontal]:h-px
    data-[orientation=horizontal]:w-full data-[orientation=vertical]:w-px mx-2
    data-[orientation=vertical]:h-4
  "
></div>
