<%# locals: (css_classes: "", custom: false) %>

<li class="size-4 inline-flex items-center text-muted-foreground <%= css_classes %>">
  <% if custom %>
    <%= yield %>
  <% else %>
    <%= icon_for(:chevron_right) %>
  <% end %>
</li>
