<%= preview_container width: :full do %>
  <%= render "components/header" do %>
    <h1 data-header-part="title">Projects</h1>

    <div data-header-part="actions">
      <button data-component="button" data-variant="outline" data-size="sm">Cancel</button>
      <button data-component="button" data-variant="primary" data-size="sm">Save</button>
    </div>
  <% end %>
<% end %>
