<%= preview_container width: :md do %>
  <%= render "components/card" do %>
    <%= render "components/card/content", spacing: :full do %>
      <p class="text-sm">A simple card with just content, no header or footer.</p>
    <% end %>
  <% end %>
<% end %>
